/* styles.css */
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: inline-flex; */
}

/* Global styles */
body{
    background-color: #000000;
}

/* Header styles */
header {
    background-color: #333;
    color: #000000;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Footer styles */
footer {
    clear: both;
    text-align: center;
    background-color: #333;
    color: #000000;
    padding: 10px;
}

/* Links styles */
a {
    color: #ff0303;
    text-decoration: none;
}

a:hover {
    font-size:20px;
}
/* styles.css */



.list{
    padding-top: 20px;
}

#constantValue {
    word-wrap: break-word;
    text-align: center;
}


#list{
    padding-top: 9%;
    width:40%;
    height:auto;
}

div {
    width: 60%;
    float: right;
    padding: 3%;
    padding-top: 7%;
    margin-top: 2%;
    color: #ffff;
}

h3{
    color:#ffff;
    text-align: center;

}

#constant{
    padding: 5px;
    }

.lst{
    padding-left: 50px;
}